.Rproj.user
.Rhistory
.RData
.Ruserdata

biovars_all.rds
run10_ind.rds
H2000_ind.rds
worldclim_full.rds

ICHEC-EC-EARTH_rcp85_r1i1p1_CLMcom-ETH-COSMO-crCLIM-v1-1_v1_det_biovars.rds
ICHEC-EC-EARTH_rcp85_r1i1p1_CLMcom-ETH-COSMO-crCLIM-v1-1_v1_det_run10_ind.rds
ICHEC-EC-EARTH_rcp85_r1i1p1_CLMcom-ETH-COSMO-crCLIM-v1-1_v1_det_run20_ind.rds

MPI-M-MPI-ESM-LR_historical_r1i1p1_CLMcom-ETH-COSMO-crCLIM-v1-1_v1_det_biovars.rds
MPI-M-MPI-ESM-LR_historical_r1i1p1_CLMcom-ETH-COSMO-crCLIM-v1-1_v1_det_run30_ind.rds
MPI-M-MPI-ESM-LR_historical_r1i1p1_CLMcom-ETH-COSMO-crCLIM-v1-1_v1_det_run10_ind.rds

ICHEC-EC-EARTH_historical_r1i1p1_CLMcom-ETH-COSMO-crCLIM-v1-1_v1_det_biovars.rds
ICHEC-EC-EARTH_historical_r1i1p1_CLMcom-ETH-COSMO-crCLIM-v1-1_v1_det_run30_ind.rds
ICHEC-EC-EARTH_historical_r1i1p1_CLMcom-ETH-COSMO-crCLIM-v1-1_v1_det_run10_ind.rds

MPI-M-MPI-ESM-LR_rcp85_r1i1p1_CLMcom-ETH-COSMO-crCLIM-v1-1_v1_det_biovars.rds
MPI-M-MPI-ESM-LR_rcp85_r1i1p1_CLMcom-ETH-COSMO-crCLIM-v1-1_v1_det_run20_ind.rds
MPI-M-MPI-ESM-LR_rcp85_r1i1p1_CLMcom-ETH-COSMO-crCLIM-v1-1_v1_det_run10_ind.rds

2_Evaluations/*
Logo/*
*.DS_Store
*/Icon/*

**/Ranunculus_platanifolius/**
**/Orchis_mascula/**
# **/Centaurea_pseudophrygia/**

Data/*
*.RProj
*.gif
**/run5*
**/run15*

2_Outputs/*
2_Outputs/1_Current/Algorithm/gau/0_models/fit.rds
2_Outputs/1_Current/Ensemble/meanw/0_models/fit.rds.old
2_Outputs/1_Current/Ensemble/meansup/0_models/fit.rds
